.mess{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messTop{
    display: flex;
    align-items: center;
    gap: 8px;
}

.messTop.right {
    justify-content: flex-end;
}

.messImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messBottom{
    font-size: 12px;
    margin-top: 10px;
    display: flex;
}

.messBottom.right {
    justify-content: flex-end;
}

.mess.own{
    align-items: flex-end;
}

.mess.own .messText{
    background-color: #f1efef;
    color: black;
}

