@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

* {
  margin: 0;
  font-family: 'Rajdhani';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgb(15, 15, 15)
}
