.textField {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin: 16px
}
.window {
    display: flex;
    justify-content: center;
    align-items: center
}
.windowWrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.registerButton {
    margin: 16px;
    padding: 8px 4px;
    width: 300px;
    font-size: 20px;
    font-weight: 800;
    background-color: rgba(0, 74, 149, 0.8);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none
}
.title {
    font-size: 40px;
    margin: 40px
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}